[Unit]
Description=Network Common Ports
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/bot_proxmox/bot_proxmox.py >> /home/pi/bot_proxmox/bot.log 2>&1
User=pi

[Install]
WantedBy=multi-user.target
